{% load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Analise de Dados</p>
                  <h2 class="section-title">Estatísticas detalhadas da sua empresa</h2>
                </div>
                <div class="content">
                  <p>
                     Construa uma base confiavel de analise para Impulsionar agilidade, Insights & compliance. Ordene os Dados estruturados ou não estruturados mediante entrega das informações. Explore Capacidades.
                  </p>
                  <a href="#" class="btn btn-common mt-3">Leia Mais</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>